* {
    padding: 0;
    margin: 0;
}
.container {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 800px;
    height: 700px;
/*    border-radius: 10px;*/
    border: 1px solid #B9B9B9; 
    box-shadow: 0 0 2px 2px #DDDDDD;


    display: flex;
    flex-direction: row;
}