.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eeebe8;

    .title {
        border-bottom: 1px solid #DEDEDE;
    }
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px 20px 10px 10px;

    .searchTxt {
        /*background: url("../images/main-tools/search.png") center left no-repeat #dbd9d8;*/
        background-size: 20px 20px;
        /*padding: 0 30px 0 25px;*/
    }

    .searchBtn {
        width: 30px; 
        background-size: 15px 15px;
        margin-left: 5px; 
    }
}

.contacts {

}