$gray-color: #999;

.container {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    background-color: #eeebe8;
    width: 300px;

    .title {
        border-bottom: 1px solid #DEDEDE;
    }
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    height: 25px;

    padding: 10px 20px 10px 10px;

    .search-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #dbd9d8;
        border-radius: 4px;

        img {
            width: 15px;
            height: 15px;
            padding: 5px 6px;
        }

        input {
            display: inline-block;
            outline: none;
            border: none;
            background-color: #dbd9d8;
            font-size: 12px;
            margin-right: 10px;
        }
    }

    .search-btn {
        width: 25px;
        background-color: #dbd9d8;
        text-align: center;
        line-height: 25px;
        margin-left: 8px;
        border-radius: 4px;

    }
}

.contacts {
    text-align: center;
    overflow-y: scroll;
    height: 640px;
}

.contact-item {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 12px;
    height: 38px;
    cursor: default;

    &:hover {
        background-color: #d8d8d8;
    }

    .item-img {
        width: 42px;
        height: 42px;

        img {
            width: 100%;
            border-radius: 5px;
        }
    }

    .item-context {
        width: 80%;
        text-align: left;
        padding-left: 5px;

        p {
            display: flex;
            justify-content: space-between;

            .item-name {
                font-size: 14px;
            }

            .item-time {
                color: $gray-color;
                font-size: 12px;
            }
        }
    }

    .item-message {
        color: $gray-color;
        padding-top: 2px;
        font-size: 12px;
    }
}

.active {
    background-color: #c4c4c4;

    &:hover {
        background-color: #c4c4c4;
    }
}